body
{
    background-color: lightgoldenrodyellow;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.IMG
{
    width: 370px;
    margin-top: 50px;
}

.button
{
    transform: translate(500px);
}

